---
layout: index
---

{% assign posts_and_collections = site.posts | concat: site.fiction | sort: 'date' | reverse %}

{% for post in posts_and_collections %}
	<section class="h-entry archive-excerpt">
	  <p>{% if post.genre %}{{ post.genre | capitalize }}{% if post.type %} {{ post.type }}{% endif %}: <em>{% endif %}<a class="u-url p-name" href="{{ post.url }}">{{ post.title }}</a>{% if post.genre %}</em>{% endif %}, posted <span class="dt-published">{{ post.date | date: '%-d %B, %Y' }}</span>.</p>
	</section>
{% endfor %}
