<link rel="alternate" href="/feeds/articles.xml" type="application/atom+xml" title="MicroEngineered - Articles (Atom)" />
<link rel="alternate" href="/feeds/micro.xml" type="application/atom+xml" title="MicroEngineered - Micro Posts (Atom)" />
<link rel="alternate" href="/feeds/photos.xml" type="application/atom+xml" title="MicroEngineered - Photo Posts (Atom)" />
<link rel="alternate" href="/feeds/full.xml" type="application/atom+xml" title="MicroEngineered - All Posts (Atom)" />
<link rel="alternate" href="/feeds/articles.json" type="application/json" title="MicroEngineered - Articles (JSON)" />
<link rel="alternate" href="/feeds/micro.json" type="application/json" title="MicroEngineered - Micro Posts (JSON)" />
<link rel="alternate" href="/feeds/photos.json" type="application/json" title="MicroEngineered - Photo Posts (JSON)" />
<link rel="alternate" href="/feeds/full.json" type="application/json" title="MicroEngineered - All Posts (JSON)" />
