<link rel="alternate" href="/feeds/articles.xml" type="application/atom+xml" title="Engineered Eloquence - Articles (Atom)" />
<link rel="alternate" href="/feeds/micro.xml" type="application/atom+xml" title="Engineered Eloquence - Micro Posts (Atom)" />
<link rel="alternate" href="/feeds/photos.xml" type="application/atom+xml" title="Engineered Eloquence - Photo Posts (Atom)" />
<link rel="alternate" href="/feeds/full.xml" type="application/atom+xml" title="Engineered Eloquence - All Posts (Atom)" />
<link rel="alternate" href="/feeds/articles.json" type="application/json" title="Engineered Eloquence - Articles (JSON)" />
<link rel="alternate" href="/feeds/micro.json" type="application/json" title="Engineered Eloquence - Micro Posts (JSON)" />
<link rel="alternate" href="/feeds/photos.json" type="application/json" title="Engineered Eloquence - Photo Posts (JSON)" />
<link rel="alternate" href="/feeds/full.json" type="application/json" title="Engineered Eloquence - All Posts (JSON)" />
