<head>
  <meta charset="UTF-8">
  <link href="http://gmpg.org/xfn/11" rel="profile">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }}
    {% else %}
      {{ page.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/styles.css">

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/public/apple-touch-icon-precomposed.png">
  <link rel="shortcut icon" href="{{ site.baseurl }}/public/favicon.ico">
  <link rel="icon" href="{{ site.baseurl }}/public/logo.png" type="image/x-icon">
  <link rel="mask-icon" href="{{ site.baseurl }}/public/logo.svg" color="#2A2F36">

  <!-- RSS -->
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ site.baseurl }}/atom.xml">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.baseurl }}/feed.rss">
  <link rel="alternate" type="application/json" title="{{ site.title }}" href="{{ site.baseurl }}/feed.json" />
  
  <!-- Info -->
  <meta name="description" content="{{ site.tagline }}">
  <meta property="og:image"content="{{ page.thumbnail.url }}" />
  <meta property="og:description" content="{{ site.tagline }}" />
  <meta property="og:type" content="blog">
  
  <!-- Micropub -->
  <link href="https://micro.blog/jayray" rel="me" />
  <link rel="micropub" href="{{ site.baseurl }}/microblog">
  <link rel="pgpkey" href="/key.txt">
  <link href="https://twitter.com/jayray" rel="me" />
  <link href="https://github.com/thejayray" rel="me" />
  <link rel="authorization_endpoint" href="https://indieauth.com/auth">
  <link rel="token_endpoint" href="https://tokens.indieauth.com/token">

  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@jayray">
  <meta name="twitter:title" content="{{ site.title }}">
  <meta name="twitter:description" content="{{ site.tagline }}">
  <meta name="twitter:url" content="{{ site.baseurl }}{{ page.url }}">
  <meta name="twitter:creator" content="{{ site.author.name }}">
  <meta name="twitter:image" content="{{ site.baseurl }}/public/apple-touch-icon-precomposed.png">

</head>