<head>
  <meta charset="UTF-8">
  <link href="http://gmpg.org/xfn/11" rel="profile">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }}
    {% else %}
      {{ page.title }} - {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ 'styles.css' | relative_url }}">

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ '/public/logo.png' | relative_url }}" type="image/png">
  <link rel="shortcut icon" href="{{ '/public/logo.png' | relative_url }}" type="image/png">
  <link rel="icon" href="{{ site.baseurl }}/public/logo.png" type="image/png">
  <link rel="mask-icon" href="{{ site.baseurl }}/public/logo.svg" color="red">

  <!-- Feeds -->
  <link rel="alternate" type="application/json" title="{{ site.title }}" href="{{ 'micro.json' | relative_url }}">
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ 'atom.xml' | relative_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{'feed.rss' | relative_url }}">
  <link rel="alternate" type="application/json" title="{{ site.title }}" href="{{ 'feed.json' | relative_url }}" />

  <!-- Info -->
  <meta name="description" content="{{ site.tagline }}">
  <meta property="og:image"content="{{ page.thumbnail.url }}" />
  <meta property="og:description" content="{{ site.tagline }}" />
  <meta property="og:type" content="blog">
  
  <!-- Micropub -->
  <link href="https://micro.blog/jayray" rel="me" />
  <link rel="micropub" href="{{ site.url }}/micropub/main">
  <link rel="pgpkey" href="/key.txt">
  <link href="https://twitter.com/jayray" rel="me" />
  <link href="https://github.com/thejayray" rel="me" />
  <link rel="authorization_endpoint" href="https://indieauth.com/auth">
  <link rel="token_endpoint" href="https://tokens.indieauth.com/token">

  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@jayray">
  <meta name="twitter:title" content="{{ site.title }}">
  <meta name="twitter:description" content="{{ site.tagline }}">
  <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
  <meta name="twitter:creator" content="{{ site.author.name }}">
  <meta name="twitter:image" content="{{ site.url }}/public/apple-touch-icon-precomposed.png">

  {% seo title=false %}

</head>