// Body resets
//
// Update the foundational and global aspects of the page.

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* Headings: Norwester */
 @font-face {
	 font-family: 'norwester';
	 src: 
		local('norwester'),
		url('public/fonts/norwester/norwester.otf') 
		format('opentype');
}
/* Subheadings: Kollektif, Regular */
 @font-face {
	 font-family: 'kollektif';
	 src: 
		local('kollektif'),
		url('public/fonts/kollektif/Kollektif.ttf') 
		format('truetype');
}
/* Body: Montserrat, Light */
 @font-face {
	 font-family: 'montserrat';
	 src: 
		local('montserrat'),
		url('public/fonts/montserrat/Montserrat-Light.otf') 
		format('opentype');
}

html,
body {
  margin: 0;
  font-family: var(--body-font);
  font-size: var(--body-font-size);
  line-height: var(--body-line-height);
  color: var(--body-color);
  background-color: var(--body-bg);
  padding: 0;
}

html {
  @media (min-width: 38em) {
    font-size: 18px;
  }
}

body {
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

// No `:visited` state is required by default (browsers will use `a`)
a {
  color: var(--link-color);
  text-decoration: none;

  // `:focus` is linked to `:hover` for basic accessibility
  &:hover,
  &:focus {
    color: var(--link-hover-color);
    text-decoration: underline;
  }

  strong {
    color: inherit;
  }
}

img {
  display: block;
  max-width: 100%;
  margin-bottom: var(--spacer);
  border-radius: var(--border-radius);
}

table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid var(--border-color);
  border-collapse: collapse;
}

td,
th {
  padding: .25rem .5rem;
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  border-bottom-width: 1px;
  border: 1px solid var(--gray-400);
}

th {
  text-align: left;
}

thead th {
  border-bottom-color: currentColor;
}

mark {
  padding: .15rem;
  background-color: var(--yellow-100);
  border-radius: .125rem;
}

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: var(--gray-000);
}
