// Custom CSS
//
// Dark Mode (mostly)

.castle {
  height: 20px;
  text-align: center;
  margin: auto;
}
.banner-dark {
  display: none;
}
.banner-light {
  display: block;
}

/* Text and background color for dark mode */
@media (prefers-color-scheme: dark) {
  img {
    filter: brightness(50%);
  }
  img:hover {
    filter: brightness(100%);
  }
  .masthead img {
	  filter: brightness(100%);
  }
  strong {
	  color: var(--gray-000);
  }
  .banner-dark {
	  display: block;
  }
  .banner-light {
	  display: none;
  }
  .castle {
      filter: brightness(100%);
  }
  hr {
      background: var(--gray-200);
  }
}
