// Custom CSS
//
// Dark Mode (mostly)

.castle {
  height: 20px;
  text-align: center;
  margin: auto;
}
.byline {
  text-align: right;
}
.banner-dark {
  display: none;
}
.banner-light {
  display: block;
}

/* Text and background color for dark mode */
@media (prefers-color-scheme: dark) {
  body {
    color: #F8F9F8;
    background: #222;
  }
  h1, h2, h3, h4, h5, h6 {
  	color: #CE193C;
  }
  img {
    filter: brightness(50%);
  }
  img:hover {
    filter: brightness(100%);
  }
  .masthead img{
	  filter: brightness(100%);
  }
  strong {
	  color: #F8F9F8;
  }
  .banner-dark {
	  display: block;
  }
  .banner-light {
	  display: none;
  }
  .castle {
      filter: brightness(100%);
  }
  // Blog post or page title
	.page-title,
	.post-title,
	.post-title a {
	  color: #CE193C;
	}
  a {
	  color: #CE193C;
  }
}