// Layout
//
// Styles for managing the structural hierarchy of the site.

.container {
  max-width: 38rem;
  padding-left: var(--spacer-2);
  padding-right: var(--spacer-2);
  margin-left:  auto;
  margin-right: auto;
}

footer {
  margin-top: var(--spacer-3);
  margin-bottom: var(--spacer-3);
  text-align: center;
  
  a {
    color: inherit;
    text-decoration: none;
  }

  small {
    font-weight: 400;
    opacity: 0.5;
  }
}
