// Masthead
//
// Super small header above the content for site name and short description.

.masthead {
  padding-top: var(--spacer);
  padding-bottom: var(--spacer);
  margin-bottom: var(--spacer-3);
  text-align: left;
}

.masthead-title {
  margin-bottom: 2rem;
  color: var(--heading-color);
  font-family: 'norwester', sans-serif;
  font-size: 3.5rem;
  line-height: 3.5rem;
  text-transform: uppercase;
  float: left;
  max-width: 71.5%;
  margin-top: 2rem;
  letter-spacing: 0.9rem;
  
  a {
    color: inherit;
    text-decoration: none;
  }

  small {
    font-size: 75%;
    font-weight: 400;
    color: var(--gray-500);
    letter-spacing: 0;
  }
}

.masthead img {
  width: 28.5%;
  height: auto;
  float: right;
}

.byline {
  text-align: right;
  margin-right: 2.5rem;
}