// Masthead
//
// Super small header above the content for site name and short description.

.masthead {
  padding-top: var(--spacer);
  padding-bottom: var(--spacer);
  margin-bottom: var(--spacer-3);
  text-align: center;
}

.masthead-title {
  margin-bottom: 0;
  color: var(--heading-color);
  text-align: left;
  font-family: 'kollektif', sans-serif;
  font-size: 5rem;
  max-width: 75%;
  
  a {
    color: inherit;
    text-decoration: none;
  }

  small {
    font-size: 75%;
    font-weight: 400;
    color: var(--gray-500);
    letter-spacing: 0;
  }
}

.masthead img {
  text-align: right;
}