// Masthead
//
// Super small header above the content for site name and short description.

.masthead {
  padding-top:    1rem;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
  text-align: center;
}

.masthead-title {
  margin-top: 0;
  margin-bottom: 0;
  color: #ce193c;

  a {
    color: #ce193c;
  }

  small {
    font-size: 75%;
    font-weight: 400;
    color: #c0c0c0;
    letter-spacing: 0;
  }
}
  .banner-dark {
	  display: none;
  }
  .banner-light {
	  display: block;
  }

/* Text and background color for dark mode */
@media (prefers-color-scheme: dark) {
  body {
    color: #F8F9F8;
    background: #222;
  }
  h1, h2, h3, h4, h5, h6 {
  	color: #CE193C;
  }
  a {
  	color: #F8F9F8;
  }
  img {
    filter: brightness(50%);
  }
  img:hover {
    filter: brightness(100%);
  }
  #header img{
	  filter: brightness(100%);
  }
  strong {
	  color: #F8F9F8;
  }
  .banner-dark {
	  display: block;
  }
  .banner-light {
	  display: none;
  }
}